.me {
  height: 90vh;
  background-color: white;

  &-title {
    text-align: center;
    text-transform: uppercase;
    text-shadow: .5rem 1rem 2rem rgba(black, .4);
    color: $color-turquoise-dark;
    font-size: 2.7rem;
    letter-spacing: 10px;
    font-weight: 400;
    margin-right: 50rem;
    margin-left: 50rem;
    padding: 3rem;
  }

  &-container {
    text-align: center;
    z-index: 15;

    &-presentation {
      display: grid;
      position: relative;
      grid-template-columns: repeat(2, 1fr);
      z-index: 15;
      margin: 6rem 20rem;
      padding: 2rem;
      background-color: transparentize(white, 0.4);
      box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
      border-radius: 0.2rem;

      &-title {
        grid-row-start: 1/2;
        border-radius: 0.2rem;
        display: grid;
        color: $color-turquoise-dark;
        text-shadow: .5rem 1rem 2rem rgba(black, .4);
        align-items: start;
        justify-items: start;
        padding-left: 2rem;
        margin-bottom: 1rem;
        font-size: 2.5rem;
        font-weight: 200;
        letter-spacing: 8px;
        grid-column-start: auto;
      }

      &-text {
        text-align: left;
        padding-left: 2rem;
        color: $color-turquoise-darker;
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }

      &-icon {
        background-image: linear-gradient(to right, $color-rose, $color-rose-dark);
        border-radius: 50%;
        padding: 1.5rem;
        margin: 1rem;
        height: min-content;
        color: white;
        font-size: 3.5rem;
        text-align: start;
      }

      &-music, &-travel, &-coding, &-sport {
        display: grid;
        grid-template-columns: 1fr 5fr;
      }

    }
  }

  &-shape {
    margin-top: -10rem;
    position: absolute;
    z-index: 1;
  }

  &-profile {
    text-align: center;

    &-p1 {
      max-width: 20rem;
      z-index: 2;
    }

    &-p2 {
      max-width: 30rem;
    }
  }
}