.me {
  height: 100vh;
  background-color: white;

  &-title {
    text-align: center;
    text-transform: uppercase;
    text-shadow: .5rem 1rem 2rem rgba(black, .4);
    color: $color-turquoise-dark;
    font-size: 2.7rem;
    letter-spacing: 10px;
    font-weight: 400;
    padding: 3rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &-container {
    text-align: center;
    z-index: 15;

    &-presentation {
      display: grid;
      justify-self: center;
      position: relative;
      grid-template-columns: repeat(2, 1fr);
      z-index: 15;
      margin: 6rem;
      padding: 2rem;
      background-color: transparentize(white, 0.4);
      box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
      border-radius: 0.2rem;

      @include respond(phone) {
        margin: 6rem 0;
      }

      &-title {
        grid-row-start: 1/2;
        border-radius: 0.2rem;
        display: grid;
        color: $color-turquoise-dark;
        text-shadow: .5rem 1rem 2rem rgba(black, .4);
        align-items: start;
        justify-items: start;
        padding-left: 2rem;
        margin-bottom: 1rem;
        font-size: 2.5rem;
        font-weight: 200;
        letter-spacing: 8px;
        grid-column-start: auto;

        @include respond(phone) {
          font-size: 2rem;
          letter-spacing: 3px;
        }

        @include respond(tab-port) {
          font-size: 2rem;
          letter-spacing: 5px;
        }
      }

      &-text {
        text-align: left;
        padding-left: 2rem;
        color: $color-turquoise-darker;
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }

      &-icon {
        background-image: linear-gradient(to right, $color-rose, $color-rose-dark);
        border-radius: 50%;
        padding: 2rem;
        margin: 1rem;
        height: min-content;
        color: white;
        font-size: 4rem;
        text-align: center;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      &-music, &-travel, &-coding, &-sport {
        display: grid;
        grid-template-columns: 1fr 5fr;
      }
    }
  }

  &-shape {
    margin-top: -10rem;
    position: absolute;
    z-index: 1;
    width:600px;
    height:600px;

    @include respond(tab-port) {
      margin-top: 0;
      width: 50rem;
      height:50rem;
    }
  }

  &-profile {
    text-align: center;

    &-p1 {
      max-width: 15rem;
      border-radius: 50%;
      z-index: 2;
    }
  }
}