.contact {
  height: 90vh;
  background-image: linear-gradient(to bottom, white, $color-rose);
  text-align: center;

  &-title {
    text-align: center;
    text-transform: uppercase;
    text-shadow: .5rem 1rem 2rem rgba(black, .4);
    color: $color-turquoise-dark;
    font-size: 2.7rem;
    letter-spacing: 10px;
    font-weight: 400;
    margin-right: 50rem;
    margin-left: 50rem;
    padding: 3rem;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    &-box {
      padding-top: 5rem;

      &-subtitle {
        grid-column-start: 1;
        color: $color-turquoise-dark;
        text-shadow: .5rem 1rem 2rem rgba(black, .4);
        font-style: italic;
        font-size: 1.7rem;
        font-weight: 100;

        &-button {
          text-align: center;
          font-weight: 200;
          border-radius: 2rem;
          border-color: $color-rose-dark;
          letter-spacing: 8px;
          background-color: $color-rose-dark;
          color: white;
          width: 20vw;
          margin: 3vh 8vh 3vh 8vh;
          padding: 3vh;
          box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
          text-shadow: .5rem 1rem 2rem rgba(black, .4);;
          font-size: 2.3rem;
          outline: none;
          text-decoration: none;
          cursor: pointer;

          a:visited, a:link, a:active {
            text-decoration: none;
            color: white;

            &:hover {
              color: $color-rose-dark;
            }
          }
          &:hover {
            cursor: pointer;
            background-color: white;
            color: $color-rose-dark;
          }
        }
      }
    }
  }

  &-icon {
    margin-top: 10rem;
    padding: 5rem;
    color: $color-rose-medium;
    font-size: 5rem;
    border: 5px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
  }
}

.footer {
  text-align: center;
  padding: 4rem;
  color: $color-turquoise-dark;
  letter-spacing: 8px;
  font-weight: 100;
}