
//COLORS:

$color-beige: rgb(255, 238, 247);
$color-beige-transparent: rgb(255, 238, 247);
$color-turquoise: #046170;
$color-turquoise-dark: #064b4d;
$color-turquoise-darker: #06393b;

$color-rose: rgba(255, 223, 213, 0.86);
$color-rose-medium: rgba(234, 189, 178, 0.86);
$color-rose-dark: rgba(216, 154, 145, 0.86);
$color-rose-darker: rgba(150, 105, 97, 0.86);
//$color-rose-darker: rgba(227, 113, 114, 0.86);

$color-orange: rgba(255, 199, 132, 0.83);
$color-orange-dark: rgb(255, 170, 57);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(tab-land){
    font-size: 56.25%;
  }

  @include respond(tab-port){
    font-size: 50%;
  }

  @include respond(big-desktop){
    font-size: 75%;
  }
}

body {
  background-color: white;
  font-family: system-ui, sans-serif;
  color: black;
  font-weight: 400;
  line-height: 1.3125;
  font-size: 15px;
}

.category {
  display: inline-block;
  color: $color-rose-dark;
  border: 1px;
  border-style: solid;
  border-bottom-color: $color-rose-dark;
  text-shadow: .5rem 1rem 2rem rgba($color-rose-dark, .5);
  padding: 2rem 4rem 2rem 4rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 8px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;

  &:hover {
    background-color: $color-rose;
  }
}

ul {
  display: block;
}

li::before {
  content: "\2022";
  display: inline-block;
  padding: 1rem;
  color: $color-rose-darker;
  text-transform: uppercase;
}

li {
  display: inline-block;
  color: $color-turquoise-dark;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#gradient{
  --color-stop-1: $color-rose;
  --color-stop-2: $color-orange;
}



