
//COLORS:

$color-beige: rgb(255, 238, 247);
$color-beige-transparent: rgba(255, 238, 247, 0.86);
$color-turquoise: #046170;
$color-turquoise-dark: #064b4d;

$color-rose: rgba(255, 223, 213, 0.86);
$color-rose-medium: rgba(234, 189, 178, 0.86);
$color-rose-dark: rgba(216, 154, 145, 0.86);

$color-orange: rgba(255, 199, 132, 0.83);
$color-orange-dark: rgb(255, 170, 57);



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $color-beige;
  font-family: system-ui, sans-serif;
  color: black;
  font-weight: 400;
  line-height: 1.3125;
  font-size: 15px;
}
